h2{
    text-align: center;
    margin: 30px 0px 30px 0px;
}

body{
    background-color: rgb(196, 247, 230);
}
#nav{
    background-color: black;
    color: white;
    margin: -8px -8px 10px -8px;
    height: 60px;
}
#logo{
    font-size: 25px;
    margin-left: 40px;
}
#container{
    display: flex;
}

.card{
    background-color: rgb(30, 30, 253);
    height: 500px;
    width: 300px;
    border: 2px solid black;
    margin: auto;
    padding: 10px;
    text-align: center;
    transition: 0.5s;
}
.card:hover{
    transform: scale(1.1);
}

img{
    width: 250px;
    height: 250px;
}

.price{
    display: block;
    margin-bottom: 6px;
}
